

.container{
    border-radius: 12px;
    color: #06082a;
    padding:50px;
    margin-top: 50px;
}


.pinkcounter{
    background-color: pink;
    box-shadow: 5px 5px 10px #f87584, -5px -5px 10px #f87584;
}