.btn{
    width:200px;
    height:50px;
}


.addingbutton{
    width:200px;
    height:50px;
    border-radius: 12px;
    border:none;
    box-shadow: 2px 2px 5px deepskyblue;
    background-color: #1f2131;
    color:white;
    font-size:24px;
}

.addingbutton:hover{
    background-color: #131722;
}


.subtractingbutton{
    width:200px;
    height:50px;
    border-radius: 12px;
    border:none;
    color:red;
    font-size:28px;
    box-shadow: 2px 2px 5px deepskyblue;
    background-color: #1f2131;
}


.subtractingbutton:hover{
    background-color: black;
}